
.game-board {
  display: grid;
  grid-template-columns: repeat(8, 50px); /* 8x8のグリッド */
  grid-template-rows: repeat(8, 50px);
  width: 400px; /* 8 * 50px */
  height: 400px;
  border: 2px solid #333;
  margin: 20px auto;
  box-sizing: border-box;
}

.board-cell {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* paddingとborderをwidth/heightに含める */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  background-color: #eee;
}

/* 市松模様にする例 (任意) */
.board-cell:nth-child(2n+2):nth-child(4n-3),
.board-cell:nth-child(2n+1):nth-child(4n-1) {
    background-color: #f0f0f0;
}

/* よりシンプルで一般的な市松模様の例 */
.game-board .board-cell:nth-child(odd of :nth-child(2n+2)) {
  background-color: #e0e0e0;
}
.game-board .board-cell:nth-child(even of :nth-child(2n+1)) {
  background-color: #d0d0d0;
}

